/* Write your CSS here */
.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 250px;
  width: 350px;
}

.name {
  color: white;
}

.description {
  color: whitesmoke;
}
